export default {
  // Your vertical config here
  metaTitle: 'Royalty Calculator for Creators',
  metaDescription: 'A royalty calculator for creators',
  keywords: 'royalty, calculator, creators',
  themeColor: 'violet',
  name: 'Royalty Calculator',
  subjects: [],
  gradient: 'from-blue-500 to-pink-500',
  badge: 'bg-blue-500 text-white',
  card: 'bg-white/10',
  cardHover: 'hover:bg-white/20',
  glowHover: 'hover:glow',
  gradientText: 'bg-gradient-to-r from-blue-500 to-pink-500 bg-clip-text text-transparent'
}